nb-card-header {
  display: flex;
  justify-content: space-between;

  & .pupil {
    display: flex;
    align-items: center;
  }
}

.search-label {
  display: none;
}

.pupil-search {
  margin-left: 1em;
  display: flex;
}

::ng-deep button {
  text-transform: capitalize;
}

::ng-deep td {
  cursor: pointer;
}

.pupil-button {
  display: flex;
  justify-content: flex-end;
}

.pupil-button button {
  margin: 0 1em;
}
