<nb-card>
  <nb-card-header>
    <div class="material">
      <h5>Materials</h5>
      <div class="material-search">
        <label class="search-label" for="search">Search:</label>
        <input type="text" nbInput status="success" placeholder="Search" [nbFilterInput]="dataSource" id="search" class="search-input">
      </div>
    </div>
    <button nbButton status="success" (click)="openNewMaterial()">New Material</button>
  </nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" *ngIf="materials.length !== 0">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="defaultColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: defaultColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="openEditMaterial(row.data.idMaterial)">
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="openEditMaterial(row.data.idMaterial)">
          <div *ngIf="column === 'fileMaterial'">
            <a *ngIf="row.data[column].length" [href]="fileLink(row.data[column])" target="_blank" (click)="$event.stopPropagation()">Download</a>
          </div>
          <span *ngIf="column !== 'fileMaterial'">{{row.data[column]}}</span>
        </td>
      </ng-container>
    </table>
    <p *ngIf="materials.length === 0">Not Found Materials!</p>
  </nb-card-body>
</nb-card>
