nb-card-header {
  display: flex;
  justify-content: space-between;

  & .teacher {
    display: flex;
    align-items: center;
  }
}

.search-label {
  display: none;
}

.teacher-search {
  margin-left: 1em;
  display: flex;
}

::ng-deep button {
  text-transform: capitalize;
}

::ng-deep td {
  cursor: pointer;
}

.teacher-button {
  display: flex;
  justify-content: flex-end;
}

.teacher-button button {
  margin: 0 1em;
}
