nb-card-header {
  display: flex;
  justify-content: space-between;
}

.search-label {
  display: none;
}

.answer {
  display: flex;
  align-items: center;
}

.answer-search {
  margin-left: 1em;
  display: flex;
}

::ng-deep button {
  text-transform: capitalize;
}

::ng-deep td {
  cursor: pointer;
}

.answer-button {
  display: flex;
  justify-content: flex-end;
}

.answer-button button {
  margin: 0 1em;
}
