.parent {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.parent nb-card:hover {
  border: 2px solid #00D68F;
  cursor: pointer;
}

.parent nb-card-header {
  display: flex;
  justify-content: space-between;
}
