<nb-card>
  <nb-card-header>
    <div class="parent">
      <h5>{{'pages.parents' | translate}}</h5>
      <div class="parent-search">
        <label class="search-label" for="search">{{'general.search' | translate}}</label>
        <input type="text" nbInput status="success" placeholder="{{'general.search' | translate}}" [nbFilterInput]="dataSource" id="search" class="search-input">
      </div>
    </div>
    <div class="parent-button">
      <button nbButton status="success" (click)="openNewParent()">{{'general.button.new' | translate}} {{'pages.parent' | translate}}</button>
      <button nbButton status="success" (click)="exportExcel()">{{'general.button.excel' | translate}}</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" *ngIf="parents.length !== 0" id="parent-table">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="defaultColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: defaultColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="openEditParent(row.data?.idParent)">
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="openEditParent(row.data?.idParent)">
          {{row.data[column] || '-'}}
        </td>
      </ng-container>
    </table>
    <p *ngIf="parents.length === 0">{{'general.error.not-found-families' | translate}}</p>
  </nb-card-body>
</nb-card>
